<%= link_to "sign out", sessions_path, method: :delete %>


<h3>Posts</h3>

<%= link_to "Create a Post", new_post_path %>
<br>
<%= current_user.following.count %> 
<br>
<%= current_user.followers.count %>
<% @posts.each do |post| %>
	<div>
	<p><%= post.title %></p>
	<p>By: <%= post.user.name %></p>
	</div>
	 <%= if post.user.id != current_user.id

			if following?(post.user) 
			 	# render 'users/unfollow' 
			 	 link_to "Unfollow", "/users/#{post.user.id}/unfollow" 
		 	else 
		 		# render 'users/follow' 
		 		link_to "Follow", "/users/#{post.user.id}/follow" 
			end 
		end
	%>
	<div>
	<%= image_tag post.url %>
	
	<p><%= post.body %></p>
	</div>
<% end %>

