
<h1>Posts</h1>

<p><%= link_to "New Post", new_post_path %></p>

<% @posts.each do |post| %>

	<p><%= post.title %></p>
	<p>By: <%= post.user.name %></p>
	<%= image_tag post.url %>
	
	<p><%= post.body %></p>


<% end %>

