 <h1>Gallery</h1>

<div class ="sticky"><%= link_to "Sign Out", sessions_path, method: :delete %>  &nbsp;&nbsp; <%= link_to "Update Password", edit_user_path(current_user) %> &nbsp;&nbsp; <%= link_to "Delete account", users_path, method: :delete %> &nbsp;&nbsp;	<%= link_to "Create Post", new_post_path %>		<p>Artists you like:</p><%= current_user.following.count %> <p>Supporters:</p><%= current_user.followers.count %>
</div>

<h3>Posts</h3>

<% @posts.each do |post| %>
	<div>
	<p><%= post.title %></p>
	<p>By: <%= post.user.name %></p>
	</div>
	 <%= if post.user.id != current_user.id

			if following?(post.user) 
			 	# render 'users/unfollow' 
			 	 link_to "Not quite", "/users/#{post.user.id}/unfollow" 
		 	else 
		 		# render 'users/follow' 
		 		link_to "Artist", "/users/#{post.user.id}/follow" 
			end 
		end
	%>
	<div>
	<%= image_tag post.url %>
	
	<p><%= post.body %></p>
	</div>
<% end %>

